<head>
  <link rel="stylesheet" href="style.css" type="text/css" />
  <title>filmy</title>
</head>
<body>


<div id="gora"><h1>FILMY</h1>animacja</div>
<div id="menu">
<ul>
<li><a href="akcja.html">akcja</a></li> 
<li><a href="komedia.html">komedia</a></li> 
<li><a href="horror.html">horror</a></li> 
<li><a href="animacja.html">animacja</a></li>
<div id="strona">
<ul>
<li><a href="index.html">strona główna</a></li> 


</ul>  
</div>
<div class="slidershow middle">

  <div class="slides">
    <input type="radio" name="r" id="r1" checked>
    <input type="radio" name="r" id="r2">
    <input type="radio" name="r" id="r3">
    <div class="slide s1">
      <a href="https://www4.bflix.to/movie/spider-man-into-the-spider-verse-oor5j"><img src="aniplakat.jpg" alt="">
    </div>
    </a>
    <div class="slide">
      <a href="https://www4.bflix.to/movie/zootopia-286l"><img src="aniplakat1.jpg" alt="">
    </div>
    </a>
    <div class="slide">
      <a href="https://www4.bflix.to/movie/walle-prqx"><img src="aniplakat2.jpg" alt="">
    </div>
    </a>
  </div>

  <div class="navigation">
    <label for="r1" class="bar"></label>
    <label for="r2" class="bar"></label>
    <label for="r3" class="bar"></label>
  </div>
</div>




</body>
</html>
