<html>
    <head>
        {% load static %}
        <script src = "{% static '/js/Loading_New_Page.js' %}"></script>
    </head>
    <body>
    <h1 class = "succes"> Status </h1>
        <h1 id  = "a">
            FILM TITLE
        </h1>
        <h2 class = "Original_Film_Title">
            Original title of film
        </h2>
        <h3 class = "List_Of_Actors">
            List of actors
        </h3>
        <h3 class = "Type_Of_Film">
            type of film
        </h3>
        <h3 class = "Raiting">
            Raiting
        </h3>
        <h3 class = "Date_Release">
            date release
        </h3>
    </body>
</html>