<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css" />
  <script src = "Request_To_Api.js"></script>
  <title>filmy</title>
</head>
<body>


<div id="gora"><h1>FILMY</h1>strona główna</div>
<div id="menu">
<ul>
<li><a href="action">akcja</a></li>
<li><a href="comedy">komedia</a></li>
<li><a href="horror">horror</a></li>
<li><a href="animation">animacja</a></li>
<div id="strona">
<ul>
<li><a href="main">strona główna</a></li>
</ul>  
</div>

<div class="slidershow middle">

  <div class="slides">
    <input type="radio" name="r" id="r1" checked>
    <input type="radio" name="r" id="r2">
    <input type="radio" name="r" id="r3">
    <div class="slide s1">
      <input type = "image" id = image src = "{% static '/img/strplakat.jpg' %}" onClick = "alert('XD')">
    </div>
    </a>
    <div class="slide">
      <a href="https://www4.bflix.to/movie/avengers-endgame-xjm5v"><img src="{% static '/img/strplakat1.jpg' %}" alt="">
    </div>
    </a>
    <div class="slide">
      <a href="https://www4.bflix.to/movie/black-widow-9jl3q"><img src="{% static '/img/strplakat2.jpg' %}" alt="">
    </div>
    </a>
  </div>

  <div class="navigation">
    <label for="r1" class="bar"></label>
    <label for="r2" class="bar"></label>
    <label for="r3" class="bar"></label>
  </div>
</div>

</body>
</html>